.friendlink {
  width: 80%;
  font-size: 1.7rem;
  margin: 0 auto;
}
.friendlink .flink_link {
  color: inherit;
}
.friendlink .flink_link .flink_block {
  height: 5rem;
  display: flex;
  margin: 3rem auto;
}
.friendlink .flink_link .flink_block .flink_word {
  width: 70%;
}
.friendlink .flink_link .flink_block .flink_word .flink_name {
  font-weight: bold;
}
.friendlink .flink_link .flink_block .flink_word .flink_desc,
.friendlink .flink_link .flink_block .flink_word .flink_url {
  padding-left: 3rem;
  font-size: 0.8rem;
}
.friendlink .flink_link .flink_block:hover .flink_name {
  color: #b64444;
}
.friendlink .flink_link .flink_cover {
  width: 30%;
}
.friendlink .flink_link .flink_cover .flink_img {
  width: 5rem;
}
